<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Express To-Dos</title>
</head>
<body>
  <h1>All Skills</h1>
  <% if(error) { %>
    <h2><%= error %></h2>
  <% } %>
  <ul>
    <% skills.forEach(function(skill) { %>
      <li>
        <form action="/skills/<%= skill._id %>?_method=DELETE" method="POST" class='delete-form'>
          <button type="submit">X</button>
        </form>
        <a href="/skills/<%= skill._id %>"><%= skill.text %></a>
      </li>
    <% }) %>
  </ul>
  <a href="/">Go back</a>
  <a href="/skills/new">Add another Skill</a>
</body>
</html>